---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404: Not Found" description="Page not found">
  <div style="text-align: center; margin-top: 50px;">
    <h1>404</h1>
    <p>Page not found.</p>
    <p>
      <a href="/">Go back home</a>
    </p>
  </div>
</Layout>
