---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
  <section>
    <h1>About Me</h1>
    <p>
      As a seasoned software engineer with over a decade of experience, I’ve had the privilege of contributing to renowned companies, honing my skills, and building a robust foundation in software development. My expertise spans various technologies, including Python, C#, React, Redis, and a range of SQL databases (PostgreSQL, MySQL, MSSQL). This breadth of knowledge equips me to architect, develop, and deliver high-quality software solutions in domains such as payments, fintech, healthcare, and more.
    </p>
    <p>
      Throughout my career, I’ve excelled in both front-end and back-end development, establishing myself as a versatile full-stack engineer. My commitment to creating innovative and efficient solutions is deeply rooted in a comprehensive understanding of microservices architecture, enabling me to design scalable, distributed, highly available, and robust applications that consistently meet and exceed business goals.
    </p>
    <p>
      I thrive on tackling complex technical challenges, collaborating with cross-functional teams, and mentoring junior engineers. My track record includes successfully leading pivotal projects, implementing best practices, and optimizing software development processes for enhanced efficiency and quality.
    </p>
    <p>
      Apart from work, I like to play guitar and occasionally go on road trips.
    </p>
    <div class="social-links">
      <a href="https://x.com/i_vikassharma" target="_blank" rel="noopener noreferrer">X</a>
      <a href="https://linkedin.com/in/sharmavikas10/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="https://github.com/vikas3045" target="_blank" rel="noopener noreferrer">GitHub</a>
    </div>
  </section>
</Layout>
