---
// src/components/BlogList.astro
import FormattedDate from './FormattedDate.astro';
import { parseInlineMarkdown } from '../utils/markdown';
import { getEntrySlug } from '../utils/content.js';
const { posts } = Astro.props;
---
<section>
  <h2>Recent Posts</h2>
  <ul class="item-groups">
    {posts.map((entry) => (
      <li>
        <FormattedDate date={entry.data.date} />
        <a href={`/${getEntrySlug(entry)}`}>
          <span class="title" set:html={parseInlineMarkdown(entry.data.title)} />
        </a>
        {entry.data.description && <p>{entry.data.description}</p>}
      </li>
    ))}
  </ul>
</section>
