---
// src/components/Body.astro
import Header from './Header.astro';
import Footer from './Footer.astro';
import Main from './Main.astro';
import { GTM_ID } from '../consts';
---

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src={`https://www.googletagmanager.com/ns.html?id=${GTM_ID}`}
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <Main>
        <slot />
    </Main>
    <Footer />
</body>

<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
</style>
